<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Email File</h1>
		<form action="/sendemail/{{user}}/{{file}}" enctype="multipart/form-data" method="post">
			<p>Enter the persons email here<br /><input type="text" name="email" placeholder="their email" value=""></p>
			<p><input type="submit" value="Send Email"></p>
		</form>
		<p><a href="/logout">log out</a></p>
</html>
